/* Totals */

.tc-info {
    background: #eee;
    padding: 10px;
    text-align: right;
}

h6.tc-tot {
    font-size: 14px;
}

/* Time Bar Chart */

.bc-bg {
    fill: #eeeeec;
    fill-opacity: 0.2;
}

.bc-pos {
    color: #2BB6F1;
    fill: #2BB6F1;
    stroke: #fff;
    stroke-opacity: 0.8;
}

.bc-neu {
    color: #493A35;
    fill: #493A35;
    stroke: #fff;
    stroke-opacity: 0.8;
}

.bc-neg {
    color: #F85C24;
    fill: #F85C24;
    stroke: #fff;
    stroke-opacity: 0.8;
}

.bc-grid {
    fill: #babdb6;
    fill-opacity: 0.0;
    stroke: #fff;
    stroke-opacity: 0.8;
}

/* Axis */
.bc-xaxis path,
.bc-xaxis line {
    fill: none;
    stroke: #666;
    shape-rendering: crispEdges;
}

.bc-xaxis text {
    fill: #666;
    font-size: 11px;
}

.bc-yaxis path,
.bc-yaxis line {
    fill: none;
    stroke: #666;
    shape-rendering: crispEdges;
}

.bc-yaxis text {
    fill: #666;
    font-family: SourceSansProRegular;
    font-size: 9px;
}

.bc-phantom {
    fill-opacity: 0.0;
    stroke-opacity: 0.0;
}

.bc-tooltip {
    position: absolute;
    text-align: center;
    width: 140px;
    height: 54px;
    padding: 4px;
    font-size: 10px;
    background: #eee;
    border: solid 1px #aaa;
    pointer-events: none;
}

.bubble {
    fill: #29B0E9;
    stroke: #1c7ba3;
    stroke-width: 0.8pt;
}

/* Tooltip */
.bc-tooltip-title {
    font-weight: bold;
    font-size: 12px;
}

.bc-tooltip-info {
    line-height: 0.1;
    font-weight: bold;
    font-size: 11px;
}




