<meta charset='UTF-8'/>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>

<title>{{ page.title }}</title>

<link href='{{ site.baseurl }}/css/cnddtmtr.css' rel='stylesheet'>

<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script type='text/javascript' src='{{ site.baseurl }}/js/dropdown.js'></script>
<script type='text/javascript' src='{{ site.baseurl }}/js/collapse.js'></script>
<script type='text/javascript' src='{{ site.baseurl }}/js/toggle.js'></script>
<script type='text/javascript' src='{{ site.baseurl }}/js/carousel.js'></script>
<script type='text/javascript' src='{{ site.baseurl }}/js/transition.js'></script>