<meta charset='UTF-8'/>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<title>{{ page.title }}</title>
<meta name="author" content="CitiSent">

<link href='{{ site.baseurl }}/css/candidatometro.css' rel='stylesheet'>
<script type='text/javascript' src='{{ site.baseurl }}/js/site.min.js'></script>
<script type='text/javascript' src='{{ site.baseurl }}/js/modal.js'></script>

<link rel='icon' type='image/x-icon' href='{{ site.baseurl }}/img/icons/favicon.ico' />
<link rel='apple-touch-icon-precomposed' sizes='114x114' href='{{ site.baseurl }}/img/icons/favicon-114.png'>
<link rel='apple-touch-icon-precomposed' sizes='72x72' href='{{ site.baseurl }}/img/icons/favicon-72.png'>
<link rel='apple-touch-icon-precomposed' href='{{ site.baseurl }}/img/icons/favicon-57.png'>

<meta property="og:url"		    content="http://bit.ly/19VtIaL" />
<meta property="og:image"		content="{{ site.baseurl }}/img/icons/favicon-114.png" />
<meta property="og:description"	content="Proyecto que analiza las candidaturas en Twitter desarrollado por @CitiSent" />