<meta charset='UTF-8'/>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>

<title>{{ page.title }}</title>

<link href='{{ site.baseurl }}/css/candidatometro.css' rel='stylesheet'>
<link href='{{ site.baseurl }}/css/charts.css' rel='stylesheet'>

<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script type='text/javascript' src='{{ site.baseurl }}/js/dropdown.js'></script>
<script type='text/javascript' src='{{ site.baseurl }}/js/collapse.js'></script>
<script type='text/javascript' src='{{ site.baseurl }}/js/toggle.js'></script>
<script type='text/javascript' src='{{ site.baseurl }}/js/carousel.js'></script>
<script type='text/javascript' src='{{ site.baseurl }}/js/transition.js'></script>

<link rel='icon' type='image/x-icon' href='{{ site.baseurl }}/img/icons/favicon.ico' />
<link rel='apple-touch-icon-precomposed' sizes='114x114' href='{{ site.baseurl }}/img/icons/favicon-114.png'>
<link rel='apple-touch-icon-precomposed' sizes='72x72' href='{{ site.baseurl }}/img/icons/favicon-72.png'>
<link rel='apple-touch-icon-precomposed' href='{{ site.baseurl }}/img/icons/favicon-57.png'>

<meta property="og:url"					content="http://bit.ly/19VtIaL" />
<meta property="og:image"				content="{{ site.baseurl }}/img/icons/favicon-114.png" />
<meta property="og:description"			content="Proyecto que analiza las candidaturas en Twitter desarrollado por @CitiSent" />