<hr id='metodo'>
<h3 class='air-top blue thin'>Metodología: ¿cómo son percibidos los candidatos?</h3>

<div class='row'>

  <div class='col-sm-6'>
    <p>Se catastran todos los nombres, usuarios de Twitter, apodos y <em>hashtags</em> para cada uno de los candidatos. Esta colección de palabras define la lista de <i class='cs-icon-topic'></i> <strong>tópicos</strong> de este estudio.</p>
    <p>Todos estos nombres alternativos se agrupan bajo el nombre verdadero, de modo que esta agrupación represente todas las acepciones en las que puedan aparecer mencionados. Los 9 candidatos son medidos a partir de <strong>36 tópicos</strong> equivalentes a sus nombres y variaciones &mdash;que incluyen combinaciones de palabras&mdash; definidas para traer la menor cantidad de ruido posible.</p>
  </div>
  
  <div class='col-sm-6'>
    <p>Una vez recolectadas todas estas las menciones, CitiSent analiza la polaridad de la frase; es decir, la clasifica como positiva, negativa o neutral. El algoritmo que realiza esta operación está sujeto a un entrenamiento constante por parte de la comunidad, lo que permite establecer un alto grado de confianza a esta clasificación.</p>
    <p>El presente gráfico muestra un número consolidado por cada día.</p>
  </div>
</div>