<hr id='metodo'>
<h2 class='air-top orange thin'>Metodología</h2>
<div class='row'>
  <div class='col-sm-6'>
    <p>Para responder esta pregunta se define previamente una <strong>agenda política</strong> que permita comparar los diferentes discursos. Se estudian todos los programas de gobierno y las propuestas políticas de los candidatos disponibles en la Web. En estos textos se identifican las categorías principales y se ordenan los otros temas en su respectiva jerarquía. Finalmente se definen <strong>290</strong> <i class='cs-icon-topic'></i> tópicos distribuídos homogéneamente en esta estructura:</p>
    <ul class='icons-ul small'>
      <li><i class='cs-icon-topic'></i> <strong>Educación</strong>
        <ul>
          <li>Institucionalidad en Educación</li>
          <li>Provisión de Educación</li>
          <li>Financiamiento en Educación</li>
        </ul>
      </li>
      <li><i class='cs-icon-topic'></i> <strong>Salud</strong>
        <ul>
          <li>Institucionalidad en Salud</li>
          <li>Provisión de Salud</li>
          <li>Accesibilidad en Salud</li>
        </ul>
      </li>
      <li><i class='cs-icon-topic'></i> <strong>Economía</strong>
        <ul>
          <li>Sistema Previsional</li>
          <li>Política Económica</li>
          <li>Distribución Económica</li>
        </ul>
      </li>
      <li><i class='cs-icon-topic'></i> <strong>Gobernabilidad y Estado</strong>
        <ul>
          <li>Participación y Justicia</li>
          <li>Desarrollo Regional</li>
          <li>Constitución</li>
        </ul>
      </li>
      <li><i class='cs-icon-topic'></i> <strong>Energía y Medio Ambiente</strong>
        <ul>
          <li>Infraestructura Energética</li>
          <li>Generación y Consumo de Energía</li>
          <li>Institucionalidad en Energía y Medio Ambiente</li>
        </ul>
      </li>
      <li><i class='cs-icon-topic'></i> <strong>Seguridad</strong>
        <ul>
          <li>Acceso a la Seguridad</li>
          <li>Provisión de Seguridad</li>
          <li>Institucionalidad en Seguridad</li>
        </ul>
      </li>
      <li><i class='cs-icon-topic'></i> <strong>Transporte</strong>
        <ul>
          <li>Accesibilidad al Transporte</li>
          <li>Infraestructura y Servicio de Transporte</li>
          <li>Institucionalidad en Transporte</li>
        </ul>
      </li>
      <li><i class='cs-icon-topic'></i> <strong>Defensa y Política Exterior</strong>
        <ul>
          <li>Financiamiento en Defensa</li>
          <li>Soberanía</li>
          <li>Tratados Internacionales</li>
          <li>Institucionalidad en Defensa y Política Exterior</li>
        </ul>
      </li>
    </ul>
  </div>
  
  <div class='col-sm-6'>
    <p>Queremos enfrentar esta agenda (variable independiente) al discurso de cada candidato y su coalición (variable dependiente) para poder comparar. Para esto definimos 9 grupos de fuentes <i class='cs-icon-source'></i>, 1 para cada candidato. Para esto importamos los usuarios de Twitter que declaran apoyar a los candidatos, los miembros de sus listas y de sus coaliciones políticas.</p>
    <p>De este modo, definimos 9 estudios longitudinales que corren en paralelo, cada uno compuesto de:</p>

    <div class='row air-bottom'>
      <div class='components'>
        <div class='col-sm-5 tcenter'>
          <div class='well'><i class='cs-icon-topic'></i><br><strong>Agenda Política</strong><br>(290 tópicos)</div>
        </div>
        <div class='col-sm-2 tcenter air-top'>
          <span class='operator'>y</span>
        </div>
        <div class='col-sm-5 tcenter'>
          <div class='well'><i class='cs-icon-source'></i><br><strong>Fuente</strong>: El candidato y partidarios</div>
        </div>
      </div>
    </div>
    <p class='tcenter'><em>No definimos variables geográficas <i class='cs-icon-place'></i> (trae todo)</em></p>

    <p>Entonces, lo presentado aquí corresponde un resumen de <strong>9 estudios</strong> <i class='cs-icon-study'></i>, 1 por cada candidato manteniendo la agenda y diferenciando las fuentes.</p>
    <p>El tamaño de los círculos representan la cantidad de <em>twitts</em> emitidos por la fuente, esto incluye dentro de la categoría principal al resto de sub-categorías y tópicos relacionados.</p> 
  </div>
</div>