<nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse'>
        <span class='sr-only'>Controlar Navegación</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a href='{{ site.baseurl }}/' class='navbar-brand cf'><span class='logo'><img src="{{ site.baseurl }}/img/icons/favicon.png">Candidatómetro</span></a>
    </div>

    <!-- acá todo lo colapsable -->
    <div class='collapse navbar-collapse navbar-ex1-collapse'>
      <ul class='nav navbar-nav'>
        <li class='dropdown'>
          <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
          Visualizaciones<b class='caret'></b></a>
          <ul class='dropdown-menu'>
            <li>
              <a href='{{ site.baseurl }}/pages/percepcion-ciudadana' title='Agenda'><strong>¿Cómo son percibidos los candidatos?</strong><br><small>Percepción ciudadana</small></a>
            </li>
            <li>
              <a href='{{ site.baseurl }}/pages/de-que-hablan' title='Percepción'><strong>¿De qué hablan los candidatos?</strong><br><small>Comparación de agendas políticas</small></a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li>
          <a href='#metodo' title='Metodología' ><i class='icon-cogs'></i> Metodología</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
