<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'/>
    <title>Candidatómetro</title>
    <meta name="author" content="CitiSent">
    
<style type="text/css">
    body{
        padding: 50px;
        background-color: #321;
    }

    a{
        text-decoration: none;
        color: #FFF;
    }

    h1{color: #e85a28}
    h2{color: #FFF}

    }
    .contenedor{
        margin: 5px auto;
        background-color: #FFF;
        padding: 20px 0 0 0;
    }
</style>

</head>
<body>
{{ content }}
</body>
</html>
